{% extends 'base.html' %}

{% block content %}
	<div class="container d-flex justify-content-center">
		<div class="jumbotron custom-jumbotron">
			<h2>{{ object.title }} </h2>
			<p>by {{ object.author }} | {{ object.date }}</p>
			<p>{{ object.body }}</p>
			<p><a href="{% url 'article_edit' article.pk %}">Edit</a> |
				<a href="{% url 'article_delete' article.pk %}">Delete</a></p>
			<p>Back to <a href="{% url 'article_list' %}">All Articles</a>.</p>
		</div>
	</div>
<style>
    .custom-jumbotron {
    	height: auto;
    	width: 50%;
        background-color: white; /* виправлено колір */
        border-radius: 20px; /* більше заокруглення */
        padding: 2rem 2rem; /* додаткові паддінги */
        margin-top: 2rem; /* додано для відступу зверху */
    }
</style>
{% endblock content %}
