{% extends 'base.html' %}

{% block content %}
	<div class="container d-flex justify-content-center">
		<div class="jumbotron custom-jumbotron">
			<h1>Delete</h1>
			<form action="" method="post">{% csrf_token %}
				<p>Are you sure you want to delete "{{ article.title }}"?</p>
				<button class="btn btn-danger ml-2" type="submit">Confirm</button>
			</form>
		</div>
	</div>
<style>
    .custom-jumbotron {
    	height: auto;
    	width: 50%;
        background-color: white; /* виправлено колір */
        border-radius: 20px; /* більше заокруглення */
        padding: 2rem 2rem; /* додаткові паддінги */
        margin-top: 2rem; /* додано для відступу зверху */
    }
</style>
{% endblock content %}