{% extends 'base.html' %}
{% block title %}Password Change Successful{% endblock title %}

{% block content %}
<div class="container d-flex justify-content-center">
		<div class="jumbotron custom-jumbotron">
			<h1>Password change successful</h1>
			<p>Your password was changed.</p>
		</div>
</div>
<style>
    .custom-jumbotron {
    	height: auto;
    	width: 50%;
        background-color: white; /* виправлено колір */
        border-radius: 20px; /* більше заокруглення */
        padding: 2rem 2rem; /* додаткові паддінги */
        margin-top: 2rem; /* додано для відступу зверху */
    }
</style>
{% endblock content %}